<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <title>沟通中</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mychat/css/themes.css?v=2017129">
    <link rel="stylesheet" type="text/css" href="__STATIC__/mychat/css/h5app.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/mychat/fonts/iconfont.css?v=2016070717">
    <script src="__STATIC__/mychat/js/jquery.min.js"></script>
    <script src="__STATIC__/mychat/js/dist/flexible/flexible_css.debug.js"></script>
    <script src="__STATIC__/mychat/js/dist/flexible/flexible.debug.js"></script>
    <style>
        .img1{
            background-image: url("__STATIC__/mychat/img/123.jpg");
        }
        .img2{
            background-image: url("__STATIC__/mychat/img/132.jpg");
        }
    </style>
</head>
<body ontouchstart>
<div class='fui-page-group'>
<div class='fui-page chatDetail-page'>
    <div class="chat-header flex">
        <i class="icon icon-toleft t-48"></i>
        <span class="shop-titlte t-30">商店</span>
        <span class="shop-online t-26"></span>
        <span class="into-shop">进店</span>
    </div>
    <div class="fui-content navbar" style="padding:1.2rem 0 1.35rem 0;">
        <div class="chat-content">
            <p style="display: none;text-align: center;padding-top: 0.5rem" id="more"><a>加载更多</a></p>
            <p class="chat-time"><span class="time">2017-11-12</span></p>

            <!--<div class="chat-text section-left flex">-->
            <!--<span class="char-img img1"></span>-->
            <!--<span class="text"><i class="icon icon-sanjiao4 t-32"></i>你好</span>-->
            <!--</div>-->

            <!--<div class="chat-text section-right flex">-->
            <!--<span class="text"><i class="icon icon-sanjiao3 t-32"></i>你好</span>-->
            <!--<span class="char-img img2"></span>-->
           <!--</div>-->

        </div>
    </div>
    <div class="fix-send flex footer-bar">
        <i class="icon icon-emoji1 t-50"></i>
        <input class="send-input t-28" maxlength="200">
        <i class="icon icon-add t-50" style="color: #888;"></i>
        <span class="send-btn">发送</span>
    </div>
</div>
</div>
<script>
    var from_id = {$from_id};
    var to_id = {$to_id};
    //链接socket
    var ws = new WebSocket("ws://127.0.0.1:8282");
    //接收socket发送的消息
    ws.onmessage = function (e) {
        //处理接收到的消息
        var msg = JSON.parse(e.data);
        console.log(e);
        switch (msg.type){
            //绑定聊天对象
            case 'init':
                var bind = '{"type":"bind","from_id":"'+from_id+'"}';
                ws.send(bind);
                return;
            case 'text':
                if (to_id == msg.from_id) {
                    $(".chat-content").append(' <div class="chat-text section-left flex">' +
                        '            <span class="char-img img1"></span>' +
                        '            <span class="text"><i class="icon icon-sanjiao4 t-32"></i>' + msg.data + '</span></div>');
                }
                return;
            case 'save':
                save_msg(msg);
                return;
        }
    };
    //发送消息到服务器
    $(".send-btn").click(function () {
        var text = $(".send-input").val();
        var msg = '{"data":"'+text+'","type":"say","from_id":'+from_id+',"to_id":'+to_id+'}';
        ws.send(msg);
        $(".chat-content").append('<div class="chat-text section-right flex">' +
            '            <span class="text"><i class="icon icon-sanjiao3 t-32"></i>'+text+'</span>' +
            '            <span class="char-img img2"></span>' +
            '           </div>');
        $(".send-input").val('');
    });

    //消息持久化
    function save_msg(msg) {
        $.post('/index.php/api/mychat/saveMsg',msg,function (e) {

        },'json');
    }

</script>
</body>
</html>
